@font-face {
  font-family: 'Museo Sans Light';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Medium';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Bold';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}