.header
  &-wrap 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 8px 0
  &-text 
    display: flex
    align-items: center
    &__contacts
      text-align: right
      margin-right: 30px
    &__city
      display: block
      font-size: 13px
      margin-bottom: 9px
    &__phone
      display: block
      text-decoration: none
      color: $text-color
      +bold
      font-size: 20px