@media (max-width: 1199px)
  .container
    width: 970px

@media (max-width: 992px)
  .container
    width: 767px
  .main
    &-text 
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #fff

@media (max-width: 768px)
  .hidden-xs
    display: none
  .container
    width: 95%
  .main
    &-wrap 
      flex-direction: column
    &-text 
      max-width: 400px
      margin: auto
      &__title
        text-align: center
  .feedback
  .form
    margin: auto
    &__title 
      text-align: center
    &__subtitle
      text-align: center
    &__input
      display: block
      width: 100%
    &__info
      display: flex
      justify-content: space-between
    &__manager
      margin-right: 0
      max-width: 200px

@media (max-width: 576px)
  .hidden-sm
    display: none
  .header
    &-logo
      max-width: 100px
    img
      max-width: 90%
    &-text
      &__contacts
        margin-right: 10px
      &__phone
        font-size: 15px
    &__button
      width: 40px
      height: 40px
      min-width: 40px
      height: 40px
      background-size: 30px
      background-repeat: no-repeat
      background-position: center            
      background-image: url('../img/feedback/tel.png')
  .main
    padding: 20px
    &-text 
      max-width: 300px
      &__title
        font-size: 26px
        line-height: 25px
        span
          font-size: 20px
    &-img
      text-align: center
  .form
    &__title 
      font-size: 22px
    &__info 
      display: block
      flex-direction: column
      text-align: center
    &__manager
      margin: auto
      max-width: 230px
      margin-bottom: 19px
    &__callback
      margin: auto
    &__text
      margin-left: 2px

    
      




