@import 'var'
@import 'mixins'
@import 'normalize'
@import 'fonts'
@import 'interface'


@import 'header'
@import 'main'
@import 'feedback'
@import 'portfolio'
@import 'feedback-question'
@import 'price'
@import 'time'
@import 'footer'

@import 'modal'

html, body
  max-width: 100%
  width: 100%
  overflow-x: hidden

input
  outline: none

*, *:after, *:before
  box-sizing: border-box

body
  font-family: 'Museo Sans Light', sans-serif
  color: $text-color

.container
  width: 1170px
  max-width: 100%
  margin: 0 auto

img
  max-width: 100%

.section
  &-title
    +bold
    line-height: 45px
    &_center
      text-align: center
  &-subtitle
    font-size: 20px
    text-align: center

@import 'media'